html, body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    background: #D3D3D3;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 200;
    text-align: left;
    margin: 0;
    padding-top: 25px;
    color: #efefef;
}

a {text-decoration: none;}

#top_bar {
    height: 60px;
    background-image: url('../img/navigation.jpg');
    padding-left: 50px;
    padding-bottom: 30px;
}

#the_game {
  padding-top: 75px;
  padding-left: 100px;
}

#gamescreen {
  border: 1px solid black;
  background-image: url('../img/gamebackground.jpg');
}
